<div id="<%= dom_id product1 %>">
  <p>
    <strong>Title:</strong>
    <%= product1.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product1.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product1.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product1.price %>
  </p>

</div>
