<p style="color: green"><%= notice %></p>

<%= render @product1 %>

<div>
  <%= link_to "Edit this product1", edit_product1_path(@product1) %> |
  <%= link_to "Back to product1s", product1s_path %>

  <%= button_to "Destroy this product1", @product1, method: :delete %>
</div>
